.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.botao {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: var(--cor-1);
  color: var(--cor-2);
  /*  font: 400 14px/22 "Inter", sans-serif; */
  border: none;
  cursor: pointer;
  /* COMPONENTES DA FONTE DO BOTÃO */
  font-family: "Inter", sans-serif;
  font-weight: 400px;
  font-size: 14px;
  line-height: 22px;
}
