/* PADRONIZA AS CORES QUE VÃO SER UTILIZADAS NO PROJETO PARA UM USO MAIS FÁCIL E CONTINUO. */

:root {
  --cor-0: #000000;
  --cor-1: #333333;
  --cor-2: #fff;
  --cor-3: #e0e0e0;
  --cor-4: #979797;
  --cor-5: #888888;
}

.cor-0 {
  color: var(--cor-0);
}
.cor-1 {
  color: var(--cor-1);
}
.cor-2 {
  color: var(--cor-2);
}
.cor-3 {
  color: var(--cor-3);
}
.cor-4 {
  color: var(--cor-4);
}
.cor-5 {
  color: var(--cor-5);
}
