/*  FONTES GLOBAIS   */
.font-p {
  font-family: "Lato", sans-serif;
  font-weight: 400px;
  font-size: 14px;
  line-height: 22px;
  font-style: normal;
}

.font-m {
  font-family: "Lato", sans-serif;
  font-weight: 600px;
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
}

.font-g {
  font-family: "Lato", sans-serif;
  font-weight: 700px;
  font-size: 18px;
  line-height: 22px;
  font-style: normal;
}

/* FONTES DO MENU */

.font-menu {
  font-family: "Lato", sans-serif;
  font-weight: 600px;
  font-size: 16px;
  line-height: 19, 2px;
  font-style: normal;
}

/* FONTES DO EXTRATO */

.font-total {
  font-family: "Lato", sans-serif;
  font-weight: 700px;
  font-size: 14px;
  line-height: 16px;
  font-style: normal;
}
.font-total-valor {
  font-family: "Lato", sans-serif;
  font-weight: 700px;
  font-size: 14px;
  line-height: 22px;
  font-style: normal;
}

.font-lucro {
  font-family: "Lato", sans-serif;
  font-weight: 400px;
  font-size: 10px;
  line-height: 22px;
  font-style: normal;
}

.font-mercadorias {
  font-family: "Lato", sans-serif;
  font-weight: 400px;
  font-size: 14px;
  line-height: 16px;
  font-style: normal;
}
