/* CONTEÚDO GLOBAL PARA O SITE INTEIRO */

/* RESETA TODOS ESSES ITENS PARA QUE NÃO TENHAM NENHUMA MARGEM. */
body,
h1,
h2,
h3,
h4,
h5,
ul,
p,
blockquote,
dd {
  margin: 0px;
}

body {
  -webkit-smoothing: antialiased;
}

/* RESETA O PADDING DA LISTA E TIRA O ESTILO DELA. */
ul {
  padding: 0px;
  list-style: none;
}

/* REMOVE A COR PADRÃO DOS LINKS. */
a {
  text-decoration: none;
  color: inherit;
}

/* DEIXA A IMAGEM COM SEU TAMANHO DE 100%, QUE CRESÇA DE ACORDO COM SEU TAMANHO E TENHA A BORDA DE 4PX. */
img {
  max-width: 100%;
  /* height: auto; significa que ele irá crescer de acordo com o tamanho da imagem
   */
  height: auto;
  display: block;
  border-radius: 4px;
}

/* TODA VEZ QUE UMA IMAGEM QUE TIVER O FORMATO DE JPG IRÁ TER UMA BORDA DE 4PX. */
img [src$=".jpg"] {
  border-radius: 4px;
}

/* CONTEÚDO DO HEADER */

/* ESTILIZA O CABEÇALHO COM A COR E A MARGEM DE ACORDO COM O DESIGN */
.header-bg {
  display: flex;
  justify-content: center;
  background-color: var(--cor-3);
  padding: 20px 0 20px 0;
}

/* FAZ A QUEBRA DOS ITENS PARA QUE FIQUEM NA MESMA LINHA E PADRONIZA COM OS PARÂMETROS DE ACORDO COM O DESIGN */
.header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 4px 20px 4px 20px;
}

/* FAZ COM QUE OS LINKS DO CABEÇALHO FIQUEM MALEÁVEIS AO CAMINHAR DO PROJETO */
.header a {
  display: flex;
  align-items: center;
}

/* ESTILIZA O MENU COM A COR E  */
.header-menu {
  background: var(--cor-2);
  display: flex;
  /*  flex-wrap: wrap; */
}

/* ESTILIZA O MENU DE ACORDO COM O DESIGN */
.item-menu {
  padding: 8px 10px;
  align-items: center;
  display: flex;
  text-align: center;
}

.item-menu:hover {
  background: var(--cor-1);
  color: white;
}

/* COLOCA O DIVISOR NO MEIO DO BACKGROUND DO MENU */
.divisor-menu {
  display: flex;
  align-items: center;
}

/* ESTILIZA O DIVISOR COM UMA BORDA, DE ACORDO COM O DESIGN PROPOSTO */
.divisor-conteudo {
  color: var(--cor-4);
}

/* CONTEÚDO DO FOOTER */

/* DEIXA O TAMANHO DO HTML EM 100% .*/
html {
  height: 100%;
  min-height: 100%;
}

/* FAZ O BODY FICAR MALEÁVEL E DEIXA ELE COM O TAMANHO 100% .*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* POSICIONA O FOOTER NA POSIÇÃO CORRETA. */
footer {
  margin-top: auto;
  border: 8px solid var(--cor-1);
}
