/* ESTILIZA O CABEÇALHO COM A COR E A MARGEM DE ACORDO COM O DESIGN */
.header-bg {
  display: flex;
  justify-content: center;
  background-color: var(--cor-3);
  padding: 20px 0 20px 0;
}

/* FAZ A QUEBRA DOS ITENS PARA QUE FIQUEM NA MESMA LINHA E PADRONIZA COM OS PARÂMETROS DE ACORDO COM O DESIGN */
.header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 4px 20px 4px 20px;
}

/* FAZ COM QUE OS LINKS DO CABEÇALHO FIQUEM MALEÁVEIS AO CAMINHAR DO PROJETO */
.header a {
  display: flex;
  align-items: center;
}

/* ESTILIZA O MENU COM A COR E  */
.header-menu {
  background: var(--cor-2);
  display: flex;
  /*  flex-wrap: wrap; */
}

/* ESTILIZA O MENU DE ACORDO COM O DESIGN */
.item-menu {
  padding: 8px 10px;
  align-items: center;
  display: flex;
  text-align: center;
}

.item-menu button {
  width: 100%;
  border: none;
  background: none;
}

.item-menu:hover {
  background: var(--cor-4);
}

/* COLOCA O DIVISOR NO MEIO DO BACKGROUND DO MENU */
.divisor-menu {
  display: flex;
  align-items: center;
}

/* ESTILIZA O DIVISOR COM UMA BORDA, DE ACORDO COM O DESIGN PROPOSTO */
/* .divisor-conteudo {
  width: 20px;
  border: 1px solid var(--cor-4);
}
 */
