.header-bg {
  display: flex;
  justify-content: center;
  background-color: var(--cor-3);
  padding: 20px 0 20px 0;
}
.header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 4px 20px 4px 20px;
}

.header a {
  display: flex;
  align-items: center;
}

.header h2 {
  padding-left: 20px;
}

.img {
  min-width: max-content;
}

.header-menu {
  background: var(--cor-2);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* nav {
  padding: 4px 20px 4px 20px;
  background: #fff;
}

nav .ul {
  margin: 0 20px;
} */

.header-menu li {
  padding: 4px 20px 4px 20px;
}

/* .header-menu ul {
  padding: 4px 20px 4px 20px;
} */
/* 
.divisor-menu {
  border-right: 1px solid var(--cor-4);
  padding: 10px 0px 10px 0px;
  margin: 10px 0px 10px 0px;
}
 */
