/* responsivo tablet */
@media screen and (max-width: 880px) {
  .transacao {
    flex-direction: column;
    width: 100%;
  }

  .formulario-bg {
    width: 100%;
    height: 189px;
    margin-right: 0;
  }

  .formulario-dados {
    flex-direction: row;
  }

  .tBotao {
    display: flex;
    justify-content: right;
  }

  .botao {
    width: 200px;
  }

  .mercadoria label:first-child {
    width: max-content;
  }

  .short {
    width: 25%;
  }
  .long {
    width: 50%;
    margin: 0 20px;
  }

  .extrato-bg {
    margin-top: 23px;
    padding-top: 21px;
  }

  /* MENU MOBILE */

  #mobile-menu {
    display: flex;
  }

  #mobile-menu img {
    border-radius: 0px;
  }

  .menu {
    display: none;
    padding: 0;
    width: 252px;
  }

  #fecharMenu {
    display: flex;
    /*  margin-right: 216px; */
    justify-content: left;
    transition: 0.5s;
  }

  .abrirMenu {
    position: fixed;
    height: 100vh;
    background: var(--cor-1);
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    justify-content: flex-start;
  }

  .itens-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .divisor {
    display: none;
  }

  /* configura o container que segura o fechar do menu*/
  .seguraFechaMenu {
    margin-bottom: 26px;
    display: flex;
    width: 100%;
  }

  /* configura a container que segura o conteudo do menu */
  .seguraConteudo {
    width: 100%;
    flex-direction: column;
  }

  /* configura o estilo do conteúdo do menu */
  .abrirMenu a {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px 20px;
    color: var(--cor-2);
    cursor: pointer;
    width: -webkit-fill-available;
  }

  /* tira o hover do fechar */
  #fecharMenu:hover {
    background: none;
  }

  /* adiciona hover a todo conteúdo do menu */
  .abrirMenu a:hover {
    background: #c4c4c4;
    color: var(--cor-1);
  }
}

/* responsivo mobile */
@media screen and (max-width: 556px) {
  .logoConteudo {
    display: flex;
    width: 100%;
  }
  .nomePagina {
    margin: 0;
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu {
    width: 351px;
  }

  .formulario-bg {
    border: none;
  }

  .divisao {
    display: flex;
    border-bottom: 1px solid var(--cor-4);
    margin: 28px 0 20px 0;
  }

  .formulario-dados {
    flex-direction: column;
  }
  .mercadoria {
    width: 100%;
    margin: 0;
  }
  .botao {
    width: 100%;
  }

  .extrato-bg {
    padding-top: 20px;
  }
}
