/* FAZ A QUEBRA DO CONTAINER ASSIM DEIXANDO "NOVA TRANSAÇÃO"
E "EXTRATO DE TRANSAÇÕES" UM DO LADO DO OUTRO.*/
/*.transacao {
    display: flex;
  padding-top: 30px; */ /* SEPARA O CONTAINER DO HEADER. 
}*/
/* ADICIONA PARÂMETROS DO CONTAINER DE EXTRATO.  */
.extrato-bg {
  /*   border: 1px solid var(--cor-4); */
  padding-top: 20px 0 0 0px;
  width: 100%;
}
/* CENTRALIZA O TEXTO "EXTRATO DE TRANSAÇÕES". */
.extrato-dados h1 {
  align-items: center;
  text-align: center;
}

/* PADRONIZA OS PARÂMETROS MERCADORIA E VALOR COM SUAS DEVIDAS CONFIGURAÇÕES. */

.grid-bg {
  display: grid;
  grid-template-columns: 10% 30% 30% 10% 20%;
}
.extratos {
  /*  display: grid;
  grid-template-columns: 10% 30% 30% 30%;
  border-bottom: 1px solid var(--cor-4); */
}

#name {
  text-align: left;
}
#valor {
  text-align: left;
}

/* PADRONIZA OS PARÂMETROS DAS MERCADORIAS .*/
.mercadorias {
  /*  display: grid;
  align-items: center;
  padding: 7px 0 8px 0;
  grid-template-columns: 10% 30% 30% 30%;
  border-bottom: 1px solid var(--cor-4); */
}

/* .campoTransacao {
  width: 10%;
} */

.campoMercadoria {
  word-wrap: break-word;
}

.campoValor {
  text-align: left;
}

/* PADRONIZA OS PARÂMETROS DO VALOR TOTAL.*/
/*.total {
    display: flex;
  justify-content: space-between;
  padding: 7px 20px 0px 40px;
  margin-top: 3px;
  border-top: 1px solid var(--cor-4); 
}*/

/* PADRONIZA OS PARÂMETROS DO LUCRO. */
/*.lucro {
   display: flex;
  justify-content: flex-end; 
}
*/
.lucroTotal {
  display: grid;
  grid-template-columns: 10% 30% 30% 30%;
  border-top: 1px solid var(--cor-4);
}

/*.totalValor {
   width: 100%;
  display: flex;
  justify-content: right;
  padding-right: 20px; 
}*/

.valor-bg {
  width: 100%;
}

.nenhumaTransacao {
  display: flex;
  justify-content: center;
}
