/* FAZ A QUEBRA DO CONTAINER ASSIM DEIXANDO "NOVA TRANSAÇÃO"
E "EXTRATO DE TRANSAÇÕES" UM DO LADO DO OUTRO.*/
.transacao {
  display: flex;
  padding-top: 30px; /* SEPARA O CONTAINER DO HEADER. */
}

/* alinha ao centro o texto colocado caso não tenha nenhuma transação */
.nenhumaTransacao {
  display: grid;
  justify-content: center;
}
/* ADICIONA PARÂMETROS DO CONTAINER DE EXTRATO.  */
.extrato-bg {
  /*   border: 1px solid var(--cor-4); */
  padding-top: 20px 0 0 0px;
  width: 100%;
}

/* faz com que não vaze nada do extrato e quebre sempre que o seu width chegar ao fim */
.extrato-dados {
  word-break: break-word;
}

/* CENTRALIZA O TEXTO "EXTRATO DE TRANSAÇÕES". */
.extrato-dados h1 {
  align-items: center;
  text-align: center;
}

/* variável criada só pra jogar o display grid usar onde for necessário */
.d-grid {
  display: grid;
}

/* faz com que a tabela se comporte em colunas com display grid
   contém 5 colunas ao todo */
.grid-bg {
  display: grid;
  grid-template-columns: 10% 30% 18% 40% 2%;
}

/* da o espaço dentro do variável e coloca uma borda abaixo dela */
.extratos {
  padding: 7px 0 8px 0;
  border-bottom: 1px solid var(--cor-4);
}

/* alinha os id's name e valor a esquerda */
#name {
  text-align: left;
}
.valor {
  text-align: right;
}

/* alinha o sinal de + ou - a direita
   coloca padding right para que não fique grudado a direita */
.campoTransacao {
  text-align: right;
  padding-right: 10px;
}

/* faz com que o texto digitado em campoMercadoria quebre toda vez 
   que chegar ao fim do seu width */
.campoMercadoria {
  word-wrap: break-word;
}

.valor-calculado {
  text-align: right;
}

/* parte do valor total de todas as transações */
.lucroTotal {
  display: grid;
  grid-template-columns: 10% 30% 18% 40% 2%;
  border-top: 1px solid var(--cor-4);
  padding-top: 11px;
}

/* alinha o valor total a esquerda */
.totalValor {
  text-align: right;
}

/* alinha o lucro ou prejuízo a esquerda */
.lucroPrejuizo {
  text-align: right;
}
