/* DÁ A FORMA E O TAMANHO DO FORMULÁRIO. */
.formulario-bg {
  width: 50%;
  height: max-content;
  border: 1px solid var(--cor-4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 20px;
  border-radius: 4px;
  margin-right: 20px;
}

/* DEIXA O CABEÇALHO DO FORMULÁRIO MALEÁVEL E QUE SE CENTRALIZE NO CENTRO. */
.formulario-bg h1 {
  display: flex;
  justify-content: center;
}

/* DEIXA A CLASSE TRANSAÇÃO MALEÁVEL, CENTRALIZA ELA NO MEIO E ADICIONA UM PADDING PARA QUE SE COMPORTE IGUAL AO DESIGN. */
.transacao {
  display: flex;
  justify-content: center;
  padding: 15px;
}

/* PARÂMETROS DE ESPAÇAMENTO E ALINHAMENTO DO FORMULÁRIO. */
.formulario-dados {
  display: flex;
  flex-direction: column;
  width: 100%;
}
/* PADRONIZA TODO OS ITENS DENTRO DO FORMULÁRIO. */
.mercadoria {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 0px 20px 0px;
}

/* POSICIONA O BOTÃO AONDE QUERO. */
.botao {
  width: 100%;
}

/* ESTILIZA O SELECT (OPÇÃO DE COMPRA). */
.mercadoria select {
  padding: 8px;
  color: var(--cor-5);
  border-radius: 4px;
  border-color: var(--cor-4);
}

/* ESTILIZA OS TODOS OS INPUTS DE UMA VEZ SÓ. */
input {
  line-height: 22px;
  padding: 6px;
  border: 1px solid;
  border-radius: 4px;
  color: var(--cor-5);
  border-color: var(--cor-4);
}
