@media screen and (max-width: 411px) {
  /* O HEADER-MENU IRÁ OCUPAR 80% DA TELA DE ACORDO COM O LAYOUT ESPECIFICADO. */
  .header-menu {
    width: 80%;
    align-items: flex-end;
  }

  /* COLOCAR O FECHAR-MENU NA POSIÇÃO DESEJADA. */
  .fecha-menu {
    display: flex;
    margin: 20px 90% 26px 20px;
  }

  /* TIRA O PADDING DOS TEXTOS PARA MELHOR COMPORTAMENTO NO LAYOUT MOBILE. */
  .titulo-header {
    padding-left: 0;
    padding-right: 0;
  }

  /* FAZ COM QUE O BACKGROUND DO ITEM-MENU PEGUE DE PONTA A PONTA DE ACORDO COM O WIDTH DESEJADO. */
  .item-menu {
    max-width: fit-content;
    min-width: 100%;
    margin-left: 0;
    padding: 0;
  }
}
