@media screen and (max-width: 768px) {
  .transacao {
    flex-direction: column;
  }
  .formulario-bg {
    width: 100%;
  }
  .formulario-dados {
    flex-direction: row;
  }
  .short {
  }

  .long {
  }
}
