@media screen and (min-width: 769px) {
  /* DEIXA O BOTÃO COM O MESMO TAMANHO DO FORMULÁRIO. */
  .botao {
    width: 400px;
  }

  /* EXTRATO */

  /* DA A MARGEM PARA SEPARAR EXTRATO DE NOVA TRANSAÇÃO. */
  .extrato-bg {
    margin-left: 20px;
  }

  /* MENU HAMBURGUER */

  /* REMOVE A MARGEM DA ESQUERDA DO TITULO DO CABEÇALHO. */
  .titulo-header {
    margin-left: 0;
  }

  /* SÃO DESATIVADOS ATÉ PASSAREM O MOUSE POR CIMA, ASSIM UTLIZANDO O HOVER. */
  .hamburguer,
  .fecha-menu {
    display: none;
  }
}
