@media screen and (max-width: 768px) {
  /* NOVA TRANSAÇÃO */

  /* FAZ O LAYOUT QUEBRAR EM COLUNA PRA FICAR UM EM BAIXO DO OUTRO. */
  .transacao {
    flex-direction: column;
  }

  /* FAZ O CONTEÚDO DO FORMULÁRIO FICAR EM FILEIRA. */
  .formulario-dados {
    flex-direction: row;
    width: 100%;
  }
  /* FAZ O BOTÃO FICAR COM 200PX. */
  .botao {
    display: flex;
    justify-content: right;
    width: 200px;
  }

  /* CENTRALIZA TODOS OS CAMPOS DA "NOVA TRANSAÇÃO" PARA QUE PERMANEÇAM NO CENTRO QUANDO OCORRER A DIMINUIÇÃO DA TELA. */
  .mercadoria {
    justify-content: center;
  }

  /* O CONTEÚDO QUE UTILIZAR ESSA VARIÁVEL IRÁ OCUPAR 25% DO BACKGROUND ESTABELECIDO. */
  .short {
    width: 25%;
  }
  /* O CONTEÚDO QUE UTILIZAR ESSA VARIÁVEL IRÁ OCUPAR 50% DO BACKGROUND ESTABELECIDO . */
  .long {
    width: 50%;
    margin: 0 20px;
  }

  /* EXTRATO */

  /* POSICIONA O PRIMEIRO CONTEÚDO DE EXTRATOS QUE SERIA "MERCADORIA". */
  .extratos p:first-child {
    padding: 0 20px;
  }

  /* DÁ A MARGEM PRA SEPARAR "EXTRATO DE TRANSAÇÕES" DE "NOVA TRANSAÇÃO". */
  .extrato-bg {
    margin-top: 20px;
  }

  /* REMOVE A BORDA DO MENU ONDE FICA O MENU-HAMBURGUER. */
  .boxMenu {
    border: 0;
  }
}

@media screen and (max-width: 597px) {
  /* ZERA O PADDING PARA QUE NÃO OCORRA BUGS NO LAYOUT. */
  .formlario-bg {
    padding: 0;
  }

  /* FAZ COM QUE O LAYOUT PERMANEÇA CENTRALIZADO NESSE PIXEL ONDE OCORRE UMA QUEBRA. */
  .formulario-dados {
    justify-content: center;
  }

  /* COLOCA UMA MARGEM NA CATEGORIA "TIPO DE TRANSAÇÃO" POIS ELA TEM UMA QUEBRA QUE ACABA ESTRAGANDO O LAYOUT. */
  .formulario-dados .mercadoria:first-child {
    margin: 0 0 20px 0;
  }
}
